<template>
  <!--
    Ce component nous permet de checker si un utilisateur est admin ou non.
    S'il l'est, on renvoi ce qui est contenu dans <isAdmin></isAdmin>
    TODO : Checker si possible de mettre des framgments pour ne pas ajouter de DOM
  -->
  <div v-if="isAuthenticated && isAdmin">
    <slot></slot>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  // On récupère les fonctions isAuthenticated et isAdmin dans notre composant
  // TODO : Checker s'il n'existe pas plus court
  // Sous cette forme = forme rapide. Forme pas rapide dans la view Artists
  computed: {
    ...mapGetters([
      'isAuthenticated',
      'isAdmin'
    ])
  }
}
</script>
