<template>
    <main>
      <Navbar />
      <router-view/>
        <hr />
      <footer style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-bottom: 30px;">
        <p>@2020 copyright</p>
      </footer>
    </main>
</template>

<script>
import Navbar from '@/components/Navbar'
import { mapState } from 'vuex'

export default {
  components: {
    Navbar
  },
  computed: {
    ...mapState({
      isAuthenticated: function () { return this.$store.getters.isAuthenticated },
      isAdmin: function () { return this.$store.getters.isAdmin }
    })
  },
  methods: {
    async logout () {
      await this.$store.dispatch('LogOut')
      this.$router.push('/login')
    }
  }
}
</script>

<style lang='scss' scopped>

@import '@/assets/css/main.scss';
@import '../node_modules/element-ui/lib/theme-chalk/reset.css';

* {
  margin: 0;
  padding: 0;
}

</style>
