<template>
  <section style="max-width: 80%; margin: auto; margin-bottom: 50px;" class="albums_page">
    <isAdmin>
      <router-link rounded to="/create/album"><el-button style="margin-bottom: 15px; margin-top: 30px;">Ajouter un album</el-button></router-link>
    </isAdmin>
    <Albums title="Les albums" :albums="albums" returnArtist="true" viewMore="false" />
  </section>
</template>

<script>
import Albums from '@/components/Albums'
import { mapActions, mapState } from 'vuex'
import isAdmin from '@/components/auth/isAdmin'

export default {
  components: {
    Albums,
    isAdmin
  },
  methods: {
    ...mapActions({
      fetchAlbums: 'albums/fetchAlbums'
    })
  },
  computed: {
    ...mapState({
      albums: state => state.albums.all
    })
  },
  mounted () {
    this.fetchAlbums()
  }
}
</script>

<style scoped>
.albums_page {
  margin-top: 30px;
  margin-bottom: 100px;
}
</style>
