<template>
  <div class="artist">
    <isAdmin style="margin-top: 30px;">
      <router-link style="margin-right: 15px;" rounded :to="'/edit/artist/' + artist._id"><el-button style="margin-bottom: 15px;">Editer l'artiste</el-button></router-link>
      <el-button @click="handleDeleteArtist(artist._id)" type="danger" style="margin-bottom: 15px;">Supprimer l'artiste</el-button>
    </isAdmin>

    <div class="top_profile">
      <img class="artist_profile-picture" :src="artist.profile_picture || ''" />
      <div>
        <h1>{{ artist.name || "" }}</h1>
        <p>{{ artist.description || "" }}</p>
      </div>
    </div>

    <Albums title="Discographie" returnArtist="false" :albums="artist.albums || []" />
    <Concerts
      :artist="artist"
      title="Concerts à venir"
      style="margin-top: 50px;"
      returnArtist="false" />
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import Albums from '@/components/Albums'
import isAdmin from '@/components/auth/isAdmin'
import Concerts from '@/components/Concerts'

export default {
  methods: {
    handleDeleteArtist: function (artistId) {
      this.deleteArtist(artistId)
      this.$router.push('/artists')
    },
    ...mapActions({
      fetchArtist: 'artists/fetchArtist',
      deleteArtist: 'artists/deleteArtist'
    })
  },
  components: {
    Albums,
    Concerts,
    isAdmin
  },
  computed: {
    ...mapState({
      artist: state => state.artists.artist
    })
  },
  mounted () {
    this.fetchArtist(this.$route.params.id)
  }
}
</script>

<style lang="scss" scopped>
.artist {
  max-width: 80%;
  margin-bottom: 100px;
  margin: auto;
}

.artist_profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.el-col {
  margin-top: 20px;
}

.top_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 60%;

  img {
    margin-right: 50px;
  }

  p {
    margin-top: 15px;
  }
}

li.album_card {
  width: 200px;
  box-shadow: rgba(0, 0, 0, .2) 0px 0px 10px;
  margin-right: 20px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.image {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 200px;
}
</style>
