<template>
  <section class="artists_page">
    <isAdmin>
      <router-link rounded to="/create/artist"><el-button style="margin-bottom: 15px;">Ajouter un artiste</el-button></router-link>
    </isAdmin>
    <Artists style="width: 80%;" :artists="artists.all || []" title="Les artistes" />
  </section>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import isAdmin from '@/components/auth/isAdmin'
import Artists from '@/components/Artists.vue'

export default {
  components: {
    Artists,
    isAdmin
  },
  methods: {
    ...mapActions({
      fetchArtists: 'artists/fetchArtists'
    })
  },
  computed: {
    ...mapState({
      artists: state => state.artists
    })
  },
  mounted () {
    this.fetchArtists()
  }
}
</script>

<style scoped>
.artists_page {
  max-width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
}
</style>
