<template>
  <section class="concerts_page">
    <isAdmin>
      <router-link rounded to="/create/concert"><el-button style="margin-bottom: 15px;">Ajouter un concert</el-button></router-link>
    </isAdmin>
    <Concerts title="Les concerts" />
  </section>
</template>

<script>
import isAdmin from '@/components/auth/isAdmin'
import Concerts from '@/components/Concerts'

export default {
  components: {
    Concerts: Concerts,
    isAdmin
  }
}
</script>

<style scoped>
.concerts_page {
  padding-top: 30px;
  width: 80%;
  margin: auto;
}

.concerts {
  margin-top: 30px;
}
</style>
