<template>
  <div class="home">
    <div class="newsArticles">
      <NewsArticles title="Nos derniers articles" viewMore="true" numberItems="2" />
      <Concerts viewMore="true" title="Les prochains concerts" />
    </div>
  </div>
</template>

<script>
import NewsArticles from '@/components/NewsArticles.vue'
import Concerts from '@/components/Concerts.vue'

export default {
  name: 'Home',
  components: {
    NewsArticles,
    Concerts
  }
}
</script>

<style scoped>
  .newsArticles {
    max-width: 80%;
    margin: auto;
  }
</style>
