<template>
  <div class="signIn">
    <h1>SignIn here</h1>
      <form
        id="signInForm"
        @submit.prevent="submit"
        action="#"
        method="post"
        enctype="application/json"
      >

    <p v-if="errors.length">
      <b>Please correct the following error(s):</b>
      <ul>
        <li v-for="(error, index) in errors" :key={index}>{{ error }}</li>
      </ul>
    </p>

    <el-input placeholder="Entrez votre mail" v-model="form.email"></el-input>
    <el-input style="margin-top: 15px;" placeholder="Entrez votre mot de passe" v-model="form.password" show-password></el-input>

    <el-button type="primary" style="margin-top: 30px" @click="submit">Login</el-button>

    <p v-if="loaded">
      <b>Le compte {{ email }} a bien été ajouté</b>
    </p>

    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Login',
  components: {},
  data () {
    return {
      errors: [],
      loaded: false,
      form: {
        email: null,
        password: null
      },
      user: {}
    }
  },
  methods: {
    ...mapActions(['LogIn']),
    async submit (e) {
      e.preventDefault()
      const User = JSON.stringify({
        email: this.form.email,
        password: this.form.password
      })
      try {
        await this.LogIn(User)
        this.$router.push('/artists')
        this.showError = false
      } catch (error) {
        this.showError = true
      }
    }
  }
}
</script>

<style lang='scss' scoped>
  .signIn {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
  }

  #signInForm {
    margin-top: 50px;
  }
</style>
