<template>
  <div class="newsArticle-container">
    <h1 v-if="newsArticle.title">{{ newsArticle.title }}</h1>
    <p v-if="newsArticle.introduction" class="introduction">{{ newsArticle.introduction }}</p>
    <img v-if="newsArticle.cover" class="newsArticle_picture" :src="newsArticle.cover" />
    <div v-if="htmlContent" class="content" v-html="htmlContent" />
  </div>
</template>

<script>
import axios from 'axios'
import showdown from 'showdown'
const converter = new showdown.Converter()

export default {
  data () {
    return {
      newsArticle: {},
      htmlContent: ''
    }
  },
  // TODO : Use VueX
  mounted () {
    axios
      .get(`${process.env.VUE_APP_API_URL}newsArticles/${this.$route.params.id}`)
      .then(response => (this.newsArticle = response.data))
  },
  updated () {
    if (this.newsArticle && this.newsArticle.content) {
      this.htmlContent = converter.makeHtml(this?.newsArticle?.content || '')
    }
  }
}
</script>

<style lang="scss" scopped>
.newsArticle-container {
  width: 80%;
  margin: auto;
  margin-top: 50px;

  h1 {
    font-weight: bold;
    font-size: 36px;
    width: 80%;
    line-height: 36px;
  }

  .introduction {
    color: gray;
    font-size: 16px;
    margin-top: 30px;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .newsArticle_picture {
    width: 100vw;
    height: 400px;
    object-fit: cover;
    margin-left: -10vw;
  }

  .content {
    margin-top: 50px;
    padding-bottom: 100px;
  }

  ol {
    margin-bottom: 20px;
  }

  li {
    width: auto;
    box-shadow: none;
  }
}
</style>
