<template>
  <section>
    <div class="newsArticles">
      <isAdmin>
        <router-link rounded to="/create/newsArticle"><el-button>Ajouter une news</el-button></router-link>
      </isAdmin>
      <NewsArticles title="Les News" />
    </div>
  </section>
</template>

<script>
import NewsArticles from '@/components/NewsArticles.vue'
import isAdmin from '@/components/auth/isAdmin'

export default {
  components: {
    NewsArticles,
    isAdmin
  }
}
</script>

<style scoped>
  .newsArticles {
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
  }
</style>
