<template>
  <div class='signup'>
    <h1>Signup here</h1>
      <form
        id='signupForm'
        @submit.prevent="submit"
        action='#'
        method='post'
        enctype='application/json'
      >

    <p v-if='errors.length'>
      <b>Please correct the following error(s):</b>
      <ul>
        <li v-for='(error, index) in errors' :key={index}>{{ error }}</li>
      </ul>
    </p>

    <el-input placeholder="Entrez votre mail" v-model="form.email"></el-input>
    <el-input style="margin-top: 15px;" placeholder="Entrez votre mot de passe" v-model="form.password" show-password></el-input>

    <el-select style="display: block; margin-top: 15px;" v-model="form.role" placeholder="please select your role">
      <el-option label="User" value="false"></el-option>
      <el-option label="Admin" value="true"></el-option>
    </el-select>

    <el-button type="primary" style="margin-top: 30px" @click="submit">Créer</el-button>

    <p v-if='loaded'>
      <b>Le compte {{ email }} a bien été ajouté</b>
    </p>
    <p style="margin-top: 15px;" v-if="showError" id="error">Il semble qu'il y ait eu une erreur lors de l'enregistrement.</p>

    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Register',
  components: {},
  data () {
    return {
      errors: [],
      loaded: false,
      form: {
        email: '',
        password: '',
        role: ''
      },
      user: {},
      showError: false
    }
  },
  methods: {
    ...mapActions(['Register']),
    async submit () {
      try {
        await this.Register(this.form)
        this.$router.push('/artists')
        this.showError = false
      } catch (error) {
        this.showError = true
      }
    }
  }
}
</script>

<style lang='scss' scoped>
.signup {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
}

#signupForm {
  margin-top: 50px;
}
</style>
