<template>
  <div class="albumCreate" style="width: 80%; margin: auto; margin-top: 30px;">
    <h1>Editer un album</h1>
      <img style="margin-top: 30px;" id="albumPreviewer" src="@/assets/no-profile-image.png" alt="" />
      <form
        id="createAlbumForm"
        @submit.prevent="checkForm"
        action="#"
        method="post"
        enctype="multipart/form-data"
      >

    <el-input style="margin-top: 15px;" placeholder="Entrez le nom de l'album" name="name" v-model="album.name"></el-input>
    <el-select name="album_artist" v-model="album.artist" placeholder="Quel est l'artist de l'album ?" style="margin-top: 15px; margin-right: 15px;">
      <el-option
        v-for="artist in artists.all"
        :key="artist._id"
        :label="artist._id"
        :value="artist._id">{{ artist.name }}
      </el-option>
    </el-select>

    <el-date-picker
      name="release_date"
      style="width: 50%;"
      v-model="album.release_date"
      type="date"
      placeholder="Date de sortie de l'album">
    </el-date-picker>

    <div class="formInputContainer" style="margin-top: 15px;">
      <div class="formInputContainer">
        <label for="cover">Photo de couverture</label>
        <input type="file" v-on:change="setAlbumPreviewerPicture" id="cover" name="cover" value="" required>
      </div>
    </div>

    <el-button style="width: auto;" type="primary" @click="checkForm">Editer l'album</el-button>
    </form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

const changePicture = (img) => {
  document.getElementById('albumPreviewer').setAttribute('src', img)
}

export default {
  methods: {
    setAlbumPreviewerPicture: function (e) {
      if (e.target.files && e.target.files[0]) {
        var reader = new FileReader()

        reader.onload = function (e) {
          changePicture(e.target.result)
        }

        reader.readAsDataURL(e.target.files[0])
      }
    },
    checkForm: function (e) {
      const API_URL = process.env.VUE_APP_API_URL

      const form = document.getElementById('createAlbumForm')
      const formData = new FormData(form)

      const requestOptions = {
        method: 'PUT',
        body: formData
      }

      fetch(`${API_URL}albums/${this.$route.params.id}`, requestOptions)
        .then((response) => response.json())
        .then((response) => {
          // this.loaded = true
        })
        .catch((error) => console.warn(error))

      e.preventDefault()
    },
    ...mapActions({
      fetchArtists: 'artists/fetchArtists',
      fetchAlbum: 'albums/fetchAlbum'
    })
  },
  computed: {
    name: state => state.album.name || '',
    artist: state => state.album.artist || '',
    release_date: state => state.album.release_date || '',
    imageUrl: state => state.album.cover || '@/assets/no-profile-image.png',
    ...mapState({
      album: state => state.albums.album,
      artists: state => state.artists
    })
  },
  mounted () {
    this.fetchAlbum(this.$route.params.id)
  },
  updated () {
    if (this.imageUrl) {
      changePicture(this.imageUrl)
    }
  }
}
</script>

<style lang='scss' scoped>
  #albumPreviewer {
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, .2) 0px 0px 10px;
    margin-bottom: 30px;
    border-radius: 0;
  }

  .formInputContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 20px;

    input[type="text"] {
      border: solid 1px gray;
      border-radius: 3px;
    }

    label {
      margin-bottom: 10px;
    }

    input[type="text"] {
      height: 30px;
      padding: 2px;
      padding-left: 10px;
    }
  }
</style>
