<template>
  <div class="artistsCreate" style="width: 80%; margin: auto; margin-top: 30px;">
    <h1>Editer un artiste</h1>
      <img style="margin-top: 30px;" id="artistPreviewer" src="@/assets/no-profile-image.png" alt="" />
      <form
        id="editArtistForm"
        @submit.prevent="checkForm"
        action="#"
        method="post"
        enctype="multipart/form-data"
      >

    <el-input style="margin-top: 15px;" placeholder="Entrez le nom de l'artiste" name="name" v-model="artist.name"></el-input>
    <el-input style="margin-top: 15px;" id="description" placeholder="Entrez la description de l'artiste" name="description" v-model="artist.description"></el-input>

    <div style="margin-top: 15px;" class="formInputContainer">
      <label style="margin-bottom: 10px; display: inline-block;" for="image">Changez la photo de profil de l'artiste</label><br />
      <input type="file" v-on:change="setArtistPreviewerPicture" id="image" name="image" value="" required>
    </div>

    <el-button style="margin-top: 15px;" @click="checkForm" type="primary">Editer l'artiste</el-button>
    </form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

const changePicture = (img) => {
  document.getElementById('artistPreviewer').setAttribute('src', img)
}

export default {
  methods: {
    setArtistPreviewerPicture (e) {
      if (e.target.files && e.target.files[0]) {
        var reader = new FileReader()

        reader.onload = function (e) {
          changePicture(e.target.result)
        }

        reader.readAsDataURL(e.target.files[0])
      }
    },
    checkForm: function (e) {
      const API_URL = process.env.VUE_APP_API_URL

      const form = document.getElementById('editArtistForm')
      const formData = new FormData(form)

      const requestOptions = {
        method: 'PUT',
        body: formData
      }

      fetch(`${API_URL}artists/${this.$route.params.id}`, requestOptions)
        .then((response) => response.json())
        .then((response) => {
          this.loaded = true
        })
        .catch((error) => this.errors.push(error))

      e.preventDefault()
    },
    ...mapActions({
      fetchArtist: 'artists/fetchArtist'
    })
  },
  computed: {
    name: state => state.artist.name || '',
    description: state => state.artist.description || '',
    imageUrl: state => state.artist.profile_picture || '@/assets/no-profile-image.png',
    ...mapState({
      artist: state => state.artists.artist
    })
  },
  mounted () {
    this.fetchArtist(this.$route.params.id)
  },
  updated () {
    if (this.imageUrl) {
      changePicture(this.imageUrl)
    }
  }
}
</script>

<style>
  #artistPreviewer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
</style>
