<template>
  <div style="width: 80%; margin: auto; margin-top: 30px;">
    <h1>Editer un concert</h1>
    <form @submit.prevent="checkForm" action="#" enctype="application/json" id="createConcertForm" method="post" style="display: flex; flex-direction: column; align-items: flex-start;">
      <el-select name="artist" placeholder="Artist du concert" style="margin-top: 15px; margin-right: 15px; width: 50%;" v-model="concert.artist">
        <el-option :key="artist._id" :label="artist.name" :value="artist._id" v-for="artist in artists.all">
        </el-option>
      </el-select>

      <el-date-picker name="date" placeholder="Date du concert" style="width: 50%; margin-top: 15px;" type="date" v-model="concert.date"></el-date-picker>

      <el-button @click="checkForm" style="width: auto; margin-top: 15px;" type="primary">Editer le concert</el-button>

    </form>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'

export default {
  methods: {
    checkForm: function (e) {
      const API_URL = process.env.VUE_APP_API_URL

      const opts = {
        date: this.date,
        artist: this.artist
      }

      fetch(`${API_URL}concerts/${this.$route.params.id}`, {
        method: 'PUT',
        body: JSON.stringify(opts),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then((response) => response.json())
        .then((response) => {
          // this.fetchConcert(this.$route.params.id)
        })
        .catch((error) => console.warn(error))

      e.preventDefault()
    },
    ...mapActions({
      fetchConcert: 'concerts/fetchConcert',
      fetchConcerts: 'concerts/fetchConcerts'
    })
  },
  computed: {
    date: state => state.concert.date || '',
    artist: state => state.concert.artist || '',
    ...mapState({
      concert: state => state.concerts.concert,
      artists: state => state.artists
    })
  },
  mounted () {
    this.fetchConcert(this.$route.params.id)
  }
}
</script>

<style lang='scss' scoped>
  .formInputContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    margin-bottom: 20px;

    input[type="text"] {
      border: solid 1px gray;
      border-radius: 3px;
    }

    label {
      margin-bottom: 10px;
    }

    input[type="text"] {
      height: 30px;
      padding: 2px;
      padding-left: 10px;
    }
  }
</style>
