<template>
  <div style="width: 80%; margin: auto; margin-bottom: 50px;" class="newsArticlesCreate">
    <h1 style="margin-top: 30px; margin-bottom: 30px;">Modifier un article</h1>
      <img id="newsArticlePreviewer" src="@/assets/no-article-image.jpg" alt="" />
      <form
        id="createNewsArticleForm"
        @submit.prevent="checkForm"
        action="#"
        method="post"
        enctype="multipart/form-data"
      >

    <div class="formInputContainer">
      <label for="cover">Cover de l'article</label>
      <input type="file" v-on:change="setNewsArticlePreviewerPicture" id="cover" name="cover" value="">
    </div>

    <el-input style="margin-top: 15px;" placeholder="Entrez le titre de l'article" name="title" v-model="newsArticle.title"></el-input>

    <el-input
      style="margin-top: 15px;"
      type="textarea"
      :rows="2"
      placeholder="Introduction de l'article"
      name="introduction"
      v-model="newsArticle.introduction">
    </el-input>

    <el-input
      style="margin-top: 15px;"
      type="textarea"
      :rows="2"
      name="resume"
      placeholder="Résumé de l'article"
      v-model="newsArticle.resume">
    </el-input>

    <el-input
      style="margin-top: 15px;"
      type="textarea"
      name="content"
      :rows="15"
      placeholder="Contenu de l'article"
      v-model="newsArticle.content">
    </el-input>

    <el-button style="width: auto; margin-top: 15px;" type="primary" @click="checkForm">Modifier l'article</el-button>

    </form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

const changePicture = (img) => {
  document.getElementById('newsArticlePreviewer').setAttribute('src', img)
}

export default {
  methods: {
    setNewsArticlePreviewerPicture: function (e) {
      if (e.target.files && e.target.files[0]) {
        var reader = new FileReader()

        reader.onload = function (e) {
          changePicture(e.target.result)
        }

        reader.readAsDataURL(e.target.files[0])
      }
    },
    checkForm: function (e) {
      const API_URL = process.env.VUE_APP_API_URL

      const form = document.getElementById('createNewsArticleForm')
      const formData = new FormData(form)

      const requestOptions = {
        method: 'PUT',
        body: formData
      }

      fetch(`${API_URL}newsArticles/${this.$route.params.id}`, requestOptions)
        .then((response) => response.json())
        .then((response) => {
          // this.loaded = true
        })
        .catch((error) => console.warn(error))

      e.preventDefault()
    },
    ...mapActions({
      fetchArtists: 'artists/fetchArtists',
      fetchNewsArticle: 'news/fetchNewsArticle'
    })
  },
  computed: {
    title: state => state.newsArticle.title || '',
    resume: state => state.newsArticle.resume || '',
    introduction: state => state.newsArticle.introduction || '',
    content: state => state.newsArticle.content || '',
    date: state => state.newsArticle.date || '',
    imageUrl: state => state.newsArticle.cover || '@/assets/no-profile-image.png',
    ...mapState({
      newsArticle: state => state.news.newsArticle,
      newsArticles: state => state.news.newsArticles
    })
  },
  mounted () {
    this.fetchNewsArticle(this.$route.params.id)
  },
  updated () {
    if (this.imageUrl) {
      changePicture(this.imageUrl)
    }
  }
}
</script>

<style lang="scss" scoped>
  #newsArticlePreviewer {
    width: 600px;
    height: 400px;
    margin: auto;
    display: block;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, .2) 0px 0px 10px;
    margin-bottom: 30px;
  }

  .formInputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      margin-bottom: 10px;
    }

    input[type="text"] {
      height: 30px;
      padding: 2px;
      padding-left: 10px;
    }
  }
</style>
