<template>
<el-row :gutter="20" style="margin: auto;" class="albums_component">
  <h2 v-if="title" style="margin-bottom: 15px;">{{ title || null }}</h2>
  <el-input v-if="albums.length !== 0" style="width: 200px; margin-bottom: 15px;" placeholder="Chercher un album" v-model="searchAlbum"></el-input>
  <p style="margin-bottom: 15px; margin-top: 30px;" v-if="albums.length === 0">Il n'y a aucun album enregistré pour le moment.</p>
  <div class="albums_list" style="margin: auto;">
    <el-col :span="6" v-for="(album) in albums.slice(0, numberItems|| albums.length).filter(album => album.name.toLowerCase().includes(searchAlbum.toLowerCase()))" :key="album._id">
      <el-card shadow :body-style="{ padding: '0px' }">
        <img :src="album.cover" class="image">
        <div style="padding: 14px;">
          <b>{{ album.name }}</b><br />
          <isAdmin style="display: block">
            <router-link style="margin-right: 15px;" rounded :to="'/edit/album/' + album._id"><el-button style="margin-bottom: 15px; margin-top: 15px;" icon="el-icon-edit"></el-button></router-link>
            <el-button @click="handleDeleteAlbum(album._id); fetchAlbums()" type="danger" style="margin-bottom: 15px;" icon="el-icon-delete"></el-button>
          </isAdmin>
          <router-link v-if="returnArtist && album.artist" class="artist_name" :to="'/artist/' + album.artist._id">{{ album.artist.name }}</router-link>
        </div>
      </el-card>
    </el-col>
    <router-link v-if="viewMore === true && albums.length !== 0" to="albums" style="display: inline-block; margin-top: 15px; margin-bottom: 45px;"><el-button>Voir tous les albums</el-button></router-link>
  </div>
</el-row>
</template>

<script>
import { mapActions } from 'vuex'
import isAdmin from '@/components/auth/isAdmin'

export default {
  data () {
    return {
      searchAlbum: ''
    }
  },
  props: ['title', 'numberItems', 'viewMore', 'returnArtist', 'albums'],
  components: {
    isAdmin
  },
  methods: {
    handleDeleteAlbum: function (albumId) {
      this.deleteAlbum(albumId)
      this.fetchAlbums()
    },
    ...mapActions({
      deleteAlbum: 'albums/deleteAlbum',
      fetchAlbums: 'albums/fetchAlbums'
    })
  }
}
</script>

<style scoped>
.album_cover {
  height: 100px;
  max-width: 100px;
  width: 100px;
  padding: 10px;
  border-radius: 50%;
  object-fit: cover;
}

li {
  width: 100px;
}

.artist_name {
  margin-top: 10px;
  display: inline-block;
}

.albums_list {
  margin: auto;
}

.albums_list .el-col:nth-child(4n + 1) {
  padding-right: 0 !important;
}

.albums_list .el-col:nth-child(4n + 1) {
  padding-left: 0 !important;
}
</style>
