<template>
<el-row style="margin-left: 0; margin-right: 0;" :gutter="20">
  <el-input v-if="artists.length !== 0" style="width: 200px; margin-bottom: 15px;" placeholder="Chercher un artiste" v-model="searchArtist"></el-input>
  <h2 v-if="title" style="margin-bottom: 15px;">{{ title }}</h2>
  <p v-if="artists.length === 0" style="margin-bottom: 15px; margin-top: 30px;">Il n'y a aucun artist à afficher pour le moment</p>
  <el-col :span="6" v-for="artist in artists.filter(artist => artist.name.toLowerCase().includes(searchArtist.toLowerCase()))" :key="artist.id">
    <router-link :to="'/artist/' + artist._id">
      <el-card shadow :body-style="{ padding: '0px' }">
        <img :src="artist.profile_picture" class="image">
        <div style="padding: 14px;">
          <b>{{ artist.name }}</b>
        </div>
      </el-card>
    </router-link>
  </el-col>
</el-row>
</template>

<script>
export default {
  data () {
    return {
      searchArtist: ''
    }
  },
  props: ['title', 'numberItems', 'viewMore', 'returnArtist', 'artists']
}
</script>
