<template>
  <section>
    <h2 v-if="title" style="margin-bottom: 15px;">{{ title || null }}</h2>
    <p v-if="concerts.length === 0" style="margin-bottom: 15px; margin-top: 30px;">Il n'y a aucun concert à afficher pour le moment</p>
    <el-table
      v-if="(artist && concerts.filter(concert => concert.artist._id === artist._id).length > 0) || (!artist && concerts.length > 0)"
      :data="artist ? concerts.filter(concert => concert.artist._id === artist._id) : concerts"
      class="concerts">
      <el-table-column
        prop="date"
        :formatter="dateFormat"
        label="Date"
        width="180">
      </el-table-column>
      <el-table-column
        v-if="!artist"
        prop="artist.name"
        label="Artiste"
        width="180">
      </el-table-column>
      <isAdmin>
        <el-table-column
        label="Editer"
        width="180">
          <template slot-scope="scope">
            <isAdmin style="display: block">
              <router-link style="margin-right: 15px;" rounded :to="'/edit/concert/' + scope.row._id"><el-button style="margin-bottom: 15px; margin-top: 15px;" icon="el-icon-edit"></el-button></router-link>
              <el-button @click="handleDeleteConcert(scope.row._id)" type="danger" style="margin-bottom: 15px;" icon="el-icon-delete"></el-button>
            </isAdmin>
          </template>
        </el-table-column>
      </isAdmin>
    </el-table>
    <router-link v-if="viewMore && concerts.length !== 0" to="concerts" style="display: inline-block; margin-top: 30px; margin-bottom: 45px;"><el-button>Voir tous les concerts</el-button></router-link>
  </section>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import moment from 'moment'
import isAdmin from '@/components/auth/isAdmin'

export default {
  methods: {
    dateFormat: function (row, column) {
      var date = row[column.property]
      if (date === undefined) {
        return ''
      }
      return moment(date).format('DD-MM-YYYY')
    },
    handleDeleteConcert: function (concertId) {
      this.deleteConcert(concertId)
      this.fetchConcerts()
    },
    ...mapActions({
      deleteConcert: 'concerts/deleteConcert',
      fetchConcerts: 'concerts/fetchConcerts'
    })
  },
  components: {
    isAdmin
  },
  props: ['title', 'viewMore', 'artist'],
  computed: {
    ...mapState({
      concerts: state => state.concerts.all
    })
  },
  mounted () {
    this.fetchConcerts()
  }
}
</script>

<style scoped>
.concerts {
  margin-top: 30px;
}
</style>
