<template>
<el-row class="tac">
  <el-col>
    <el-menu
      :router="true"
      default-active="2"
      class="el-menu-horizontal-demo"
      mode="horizontal">

      <el-menu-item index="/">
        <span>Home</span>
      </el-menu-item>

      <el-menu-item v-for="link in links" :key="link.url" :index="link.url">
        {{link.label}}
      </el-menu-item>

      <el-menu-item v-if="isAuthenticated" index="Logout" @click="logout">
        <span>Logout</span>
      </el-menu-item>

      <el-menu-item v-if="!isAuthenticated" class="signup" index="SignUp">
        <span>SignUp</span>
      </el-menu-item>

      <el-menu-item v-if="!isAuthenticated" index="login">
        <span>Login</span>
      </el-menu-item>
    </el-menu>
  </el-col>
</el-row>
</template>

<script>
export default {
  computed: {
    isAuthenticated: function () { return this.$store.getters.isAuthenticated },
    roleUser: function () { return this.$store.getters.roleUser }
  },
  methods: {
    async logout () {
      await this.$store.dispatch('LogOut')
      this.$router.push('/login')
    }
  },
  data () {
    return {
      links: [
        {
          url: '/artists',
          label: 'Artists'
        },
        {
          url: '/concerts',
          label: 'Concerts'
        },
        {
          url: '/albums',
          label: 'Albums'
        },
        {
          url: '/news',
          label: 'News'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scopped>

@import '@/assets/css/main.scss';

.el-menu.el-menu--horizontal {
  margin: 0;
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.el-menu--horizontal>.el-menu-item.signup {
  margin-left: 100px;
}
</style>
