<template>
<ul class="articles">
  <h2 v-if="title" style="margin-bottom: 15px;">{{ title }}</h2>
  <!-- Prevention si pas d'article -->
  <p v-if="news.length === 0" style="margin-bottom: 15px; margin-top: 30px;">Il n'y a aucune news enregistrée pour le moment.</p>
  <li
    v-for="(newsArticle, i) in news.slice(0, numberItems || news.length)"
    :key="i"
    :to="'news/' + newsArticle._id"
  >
    <NewsArticlePresentation :newsArticle="newsArticle" />
  </li>
  <router-link v-if="viewMore && news.length !== 0" to="news" style="display: inline-block; margin-bottom: 45px; margin-top: 30px; ">
    <el-button>Voir tous les articles</el-button>
  </router-link>
</ul>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import NewsArticlePresentation from './NewsArticlePresentation'

export default {
  methods: {
    ...mapActions({
      fetchNewsArticles: 'news/fetchNewsArticles'
    })
  },
  components: {
    NewsArticlePresentation
  },
  props: ['title', 'viewMore', 'artist', 'numberItems'],
  computed: {
    ...mapState({
      news: state => state.news.all
    })
  },
  mounted () {
    this.fetchNewsArticles()
  }
}
</script>

<style lang="scss" scoped>
  .articles {
    margin: auto;
    list-style: none;
    margin-top: 15px;
  }
</style>
