<template>
<div class="article_presentation">
  <!-- TODO : Mettre un alt dynamique à l'image -->
  <img class="newsArticle_profile-picture" :src="newsArticle.cover" alt="" />
  <div class="article_content">
    <h2 v-text="newsArticle.title"></h2>
    <b v-if="newsArticle.date" style="margin-bottom: 15px; display: inline-block;">{{this.dateFormat(newsArticle.date) || ''}}</b>
    <p v-text="newsArticle.resume"></p>
    <router-link class="read_article" rounded :to="'/news/' + newsArticle._id">
      <el-button>Lire l'article</el-button>
    </router-link>

    <isAdmin style="display: block">
      <router-link style="margin-right: 15px;" rounded :to="'/edit/news/' + newsArticle._id"><el-button style="margin-bottom: 15px; margin-top: 15px;" icon="el-icon-edit"></el-button></router-link>
      <el-button @click="handleDeleteAlbum(newsArticle._id)" type="danger" style="margin-bottom: 15px;" icon="el-icon-delete"></el-button>
    </isAdmin>
  </div>
</div>
</template>

<script>
import moment from 'moment'
import isAdmin from '@/components/auth/isAdmin'
import { mapActions } from 'vuex'

export default {
  props: ['newsArticle'],
  components: {
    isAdmin
  },
  // computed: {
  //   date: function () {
  //     // Si on a une date, on la beautify, sinon on renvoi qu(on a pas de date
  //     if (this.newsArticle.date) {
  //       const stringDate = this.newsArticle.date.toString()
  //       // DD / MM / YYYY
  //       return stringDate.substring(8, 10) + '/' + stringDate.substring(5, 7) + '/' + stringDate.substring(0, 4)
  //     } else {
  //       return 'Date manquante.'
  //     }
  //   }
  // }
  methods: {
    dateFormat: function (date) {
      if (date === undefined) {
        return ''
      }
      return moment(date).format('DD-MM-YYYY')
    },
    handleDeleteAlbum: function (newsId) {
      this.deleteAlbum(newsId)
      this.fetchAlbums()
    },
    ...mapActions({
      deleteAlbum: 'news/deleteNewsArticle',
      fetchAlbums: 'news/fetchNewsArticles'
    })
  }
}
</script>

<style lang="scss" scoped>
/* TODO : revoir le css mdr*/
.article_presentation {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  border: 1px solid #EBEEF5;
  background-color: #FFF;
  color: #303133;
  padding: 15px;
  width: 100%;
}
  .newsArticle_profile-picture {
    width: 300px;
    height: auto;
    margin-right: 40px;
  }

  .article_content {
    width: 100%;
  }

  p {
    -webkit-line-clamp: 3;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 12px;
  }

  h2 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
  }

  .read_article {
    margin-top: 10px;
    display: block;
  }

</style>
