<template>
  <div class="albumCreate" style="width: 80%; margin: auto; margin-top: 30px;">
    <h1>Create an album here</h1>
      <img style="margin-top: 30px;" id="albumPreviewer" src="@/assets/no-profile-image.png" alt="" />
      <form
        id="createAlbumForm"
        @submit.prevent="checkForm"
        action="#"
        method="post"
        enctype="multipart/form-data"
      >

    <el-input style="margin-top: 15px;" placeholder="Entrez le nom de l'album" name="name" v-model="name"></el-input>
    <el-select name="album_artist" v-model="album_artist" placeholder="Quel est l'artist de l'album ?" style="margin-top: 15px; margin-right: 15px;">
      <el-option
        v-for="artist in artists.all"
        :key="artist._id"
        :label="artist._id"
        :value="artist._id">{{ artist.name }}
      </el-option>
    </el-select>

    <el-date-picker
      name="release_date"
      style="width: 50%;"
      v-model="release_date"
      type="date"
      placeholder="Date de sortie de l'album">
    </el-date-picker>

    <div class="formInputContainer" style="margin-top: 15px;">
      <div class="formInputContainer">
        <label for="cover">Photo de couverture</label>
        <input type="file" v-on:change="setAlbumPreviewerPicture" id="cover" name="cover" value="" required>
      </div>
    </div>

    <el-button style="width: auto;" type="primary" @click="checkForm">Ajouter l'album</el-button>

    </form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  data () {
    return {
      errors: [],
      name: null,
      loaded: false,
      release_date: null,
      album_artist: '',
      gotCover: false
    }
  },
  computed: {
    ...mapState({
      artists: state => state.artists
    })
  },
  methods: {
    setAlbumPreviewerPicture: function (e) {
      if (e.target.files && e.target.files[0]) {
        var reader = new FileReader()

        reader.onload = function (e) {
          document.getElementById('albumPreviewer').setAttribute('src', e.target.result)
        }

        this.gotCover = true
        reader.readAsDataURL(e.target.files[0])
      }
    },
    checkForm: function (e) {
      const API_URL = process.env.VUE_APP_API_URL
      this.errors = []

      if (!this.name) {
        this.errors.push('Titre manquant.')
      }

      if (!this.album_artist) {
        this.errors.push('Artiste manquant.')
      }

      if (!this.release_date) {
        this.errors.push('Date de sortie manquante.')
      }

      if (this.gotCover === false) {
        this.errors.push('Cover manquante.')
      }

      if (this.errors.length > 0) {
        this.notifyErrors()
      }

      const form = document.getElementById('createAlbumForm')
      const formData = new FormData(form)

      const requestOptions = {
        method: 'POST',
        body: formData
      }

      this.errors.length === 0 && fetch(`${API_URL}albums`, requestOptions)
        .then((response) => {
          if (response.ok) {
            this.notifySucces()
            return response.json()
          } else {
            this.notifyErrors(response.statusText)
            return response.statusText
          }
        })
        .catch((error) => console.warn(error))

      e.preventDefault()
    },
    notifyErrors  (message = null) {
      this.$notify({
        title: 'Echec de la création de l\'album',
        message: message || this.errors.join(' '),
        type: 'error'
      })
    },
    notifySucces () {
      this.$notify({
        title: 'Album ajouté.',
        message: 'L\'album a bien été ajouté',
        type: 'success'
      })
    },
    ...mapActions({
      fetchArtists: 'artists/fetchArtists'
    })
  },
  mounted () {
    this.fetchArtists()
  }
}
</script>

<style lang='scss' scoped>
  #albumPreviewer {
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, .2) 0px 0px 10px;
    margin-bottom: 30px;
    border-radius: 0;
  }

  .formInputContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 20px;

    input[type="text"] {
      border: solid 1px gray;
      border-radius: 3px;
    }

    label {
      margin-bottom: 10px;
    }

    input[type="text"] {
      height: 30px;
      padding: 2px;
      padding-left: 10px;
    }
  }
</style>
