<template>
  <div class="artistsCreate" style="width: 80%; margin: auto; margin-top: 30px;">
    <h1>Ajouter un artiste</h1>
      <img style="margin-top: 30px;" id="artistPreviewer" src="@/assets/no-profile-image.png" alt="" />
      <form
        id="createArtistForm"
        @submit.prevent="checkForm"
        action="#"
        method="post"
        enctype="multipart/form-data"
      >

    <el-input style="margin-top: 15px;" placeholder="Entrez le nom de l'artiste" name="name" v-model="name"></el-input>
    <el-input style="margin-top: 15px;" id="description" placeholder="Entrez la description de l'artiste" name="description" v-model="description"></el-input>

    <div style="margin-top: 15px;" class="formInputContainer">
      <label style="margin-bottom: 10px; display: inline-block;" for="image">Ajoutez la photo de profil de l'artiste</label><br />
      <input type="file" v-on:change="setArtistPreviewerPicture" id="image" name="image" value="" required>
    </div>

    <el-button style="margin-top: 15px;" @click="checkForm" type="primary">Ajouter l'artiste</el-button>

    </form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      errors: [],
      name: null,
      description: null,
      loaded: false,
      imageUrl: '',
      gotCover: false
    }
  },
  methods: {
    setArtistPreviewerPicture: function (e) {
      if (e.target.files && e.target.files[0]) {
        var reader = new FileReader()

        reader.onload = function (e) {
          document.getElementById('artistPreviewer').setAttribute('src', e.target.result)
        }

        this.gotCover = true
        reader.readAsDataURL(e.target.files[0])
      }
    },
    checkForm: function (e) {
      const API_URL = process.env.VUE_APP_API_URL
      this.errors = []

      if (!this.name) {
        this.errors.push('Nom manquant.')
      }

      if (!this.description) {
        this.errors.push('Description manquante.')
      }

      if (this.gotCover === false) {
        this.errors.push('Cover manquante.')
      }

      if (this.errors.length > 0) {
        this.notifyErrors()
      }

      const form = document.getElementById('createArtistForm')
      const formData = new FormData(form)

      const requestOptions = {
        method: 'POST',
        body: formData
      }

      this.errors.length === 0 && fetch(`${API_URL}artists`, requestOptions)
        .then((response) => {
          if (response.ok) {
            this.notifySucces()
            return response.json()
          } else {
            this.notifyErrors(response.statusText)
            return response.statusText
          }
        })
        .catch((error) => console.warn(error))

      e.preventDefault()
    },
    notifyErrors  (message = null) {
      this.$notify({
        title: 'Echec de la création de l\'artiste',
        message: message || this.errors.join(' '),
        type: 'error'
      })
    },
    notifySucces () {
      this.$notify({
        title: 'Artiste ajouté.',
        message: 'L\'artiste a bien été ajouté',
        type: 'success'
      })
    }
  }
}
</script>

<style>
  #artistPreviewer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
</style>
