<template>
  <div class="concertCreate" style="width: 80%; margin: auto; margin-top: 30px;">
    <h1>Create an concert here</h1>
      <form
        id="createConcertForm"
        @submit.prevent="checkForm"
        action="#"
        method="post"
        enctype="application/json"
        style="display: flex; flex-direction: column; align-items: flex-start;"
      >

    <el-select name="artist" v-model="artist" placeholder="Artist du concert" style="margin-top: 15px; margin-right: 15px;">
      <el-option
        v-for="artist in artists.all"
        :key="artist._id"
        :label="artist._id"
        :value="artist._id">{{ artist.name }}
      </el-option>
    </el-select>

    <el-date-picker
      name="date"
      style="width: 50%; margin-top: 15px;"
      v-model="date"
      type="date"
      placeholder="Date du concert">
    </el-date-picker>

    <el-button style="width: auto; margin-top: 15px;" type="primary" @click="checkForm">Ajouter le concert</el-button>

    <p v-if="loaded">
      <b>Le concert du {{ date }} a bien été ajouté</b>
    </p>

    </form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      errors: [],
      loaded: false,
      date: null,
      artist: ''
    }
  },
  computed: {
    artists () {
      return this.$store.state.artists
    }
  },
  methods: {
    checkForm: function (e) {
      const API_URL = process.env.VUE_APP_API_URL
      this.errors = []

      if (!this.date) {
        this.errors.push('Date manquante.')
      }

      if (!this.artist) {
        this.errors.push('Artiste manquant.')
      }

      if (this.errors.length > 0) {
        this.notifyErrors()
      }

      const opts = {
        date: this.date,
        artist: this.artist
      }

      this.errors.length === 0 && fetch(`${API_URL}concerts`, {
        method: 'POST',
        body: JSON.stringify(opts),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then((response) => {
          if (response.ok) {
            this.notifySucces()
            return response.json()
          } else {
            this.notifyErrors(response.statusText)
            return response.statusText
          }
        })
        .catch((error) => console.warn(error))

      e.preventDefault()
    },
    notifyErrors  (message = null) {
      this.$notify({
        title: 'Echec de la création du concert',
        message: message || this.errors.join(' '),
        type: 'error'
      })
    },
    notifySucces () {
      this.$notify({
        title: 'Concert ajouté.',
        message: 'Le concert a bien été ajouté',
        type: 'success'
      })
    }
  }
}
</script>

<style lang='scss' scoped>
  .formInputContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    margin-bottom: 20px;

    input[type="text"] {
      border: solid 1px gray;
      border-radius: 3px;
    }

    label {
      margin-bottom: 10px;
    }

    input[type="text"] {
      height: 30px;
      padding: 2px;
      padding-left: 10px;
    }
  }
</style>
