<template>
  <div style="width: 80%; margin: auto; margin-bottom: 50px;" class="newsArticlesCreate">
    <h1 style="margin-top: 30px; margin-bottom: 30px;">Publier un nouvel article</h1>
      <img id="newsArticlePreviewer" src="@/assets/no-article-image.jpg" alt="" />
      <form
        id="createNewsArticleForm"
        @submit.prevent="checkForm"
        action="#"
        method="post"
        enctype="multipart/form-data"
      >

    <div class="formInputContainer">
      <label for="cover">Cover de l'article</label>
      <input type="file" v-on:change="setNewsArticlePreviewerPicture" id="cover" name="cover" value="" required>
    </div>

    <el-input style="margin-top: 15px;" placeholder="Entrez le titre de l'article" name="title" v-model="title"></el-input>

    <el-input
      style="margin-top: 15px;"
      type="textarea"
      :rows="2"
      placeholder="Introduction de l'article"
      name="introduction"
      v-model="introduction">
    </el-input>

    <el-input
      style="margin-top: 15px;"
      type="textarea"
      :rows="2"
      name="resume"
      placeholder="Résumé de l'article"
      v-model="resume">
    </el-input>

    <el-input
      style="margin-top: 15px;"
      type="textarea"
      name="content"
      :rows="15"
      placeholder="Contenu de l'article"
      v-model="content">
    </el-input>

    <el-button style="width: auto; margin-top: 15px;" type="primary" @click="checkForm">Ajouter l'article</el-button>

    <p v-if="loaded">
      <b>L'newsArticlee {{title}} a bien été ajouté</b>
    </p>

    </form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      errors: [],
      title: null,
      resume: null,
      introduction: null,
      content: null,
      loaded: false,
      gotCover: false
    }
  },
  methods: {
    setNewsArticlePreviewerPicture: function (e) {
      if (e.target.files && e.target.files[0]) {
        var reader = new FileReader()

        reader.onload = function (e) {
          document.getElementById('newsArticlePreviewer').setAttribute('src', e.target.result)
        }

        this.gotCover = true
        reader.readAsDataURL(e.target.files[0])
      }
    },
    checkForm: function (e) {
      const API_URL = process.env.VUE_APP_API_URL
      this.errors = []

      !this.title && this.errors.push('Titre manquant.')
      !this.introduction && this.errors.push('Introduction manquante.')
      !this.resume && this.errors.push('Resumé manquant.')
      !this.content && this.errors.push('Contenu manquant.')
      this.gotCover === false && this.errors.push('Cover manquante.')

      if (this.errors.length > 0) {
        this.notifyErrors()
      }

      const form = document.getElementById('createNewsArticleForm')
      const formData = new FormData(form)

      const requestOptions = {
        method: 'POST',
        body: formData
      }

      this.errors.length === 0 && fetch(`${API_URL}newsArticles`, requestOptions)
        .then((response) => {
          if (response.ok) {
            this.notifySucces()
            return response.json()
          } else {
            this.notifyErrors(response.statusText)
            return response.statusText
          }
        })
        .catch((error) => console.warn(error))

      e.preventDefault()
    },
    notifyErrors  (message = null) {
      this.$notify({
        title: 'Echec de la création de l\'article',
        message: message || this.errors.join(' '),
        type: 'error'
      })
    },
    notifySucces () {
      this.$notify({
        title: 'L\'article ajouté.',
        message: 'L\'article a bien été ajouté',
        type: 'success'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  #newsArticlePreviewer {
    width: 600px;
    height: 400px;
    margin: auto;
    display: block;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, .2) 0px 0px 10px;
    margin-bottom: 30px;
  }

  .formInputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      margin-bottom: 10px;
    }

    input[type="text"] {
      height: 30px;
      padding: 2px;
      padding-left: 10px;
    }
  }
</style>
